body{
    background-image: url("items/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.Game{
    margin: 15px;
    border-radius: 0.5rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    background-color: rgba(13, 9, 26, 0.785);
    padding: 10px;
    
}
.content-1{
    display:flex ;
    line-height: 1;
    color: #f0c610;
    text-shadow: 0px 0px 10px rgba(240, 198, 16, 1);
    font-weight: bold;
}
.content-2{
    display: flex;
}
.box-1{
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    height: 180px;
    color: #ffff;
}
#PlayerATT, #pcATT{
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
}
#PlayerDEF, #pcDEF{
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
}
#PlayerHP, #pcHP{
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
}
.box-2{ 
    width: 190px;
    height: 180px;
    margin-right: 20px;
}
.box-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 130px;
    height: 140px;
}
/* BOTON DE ACCIONES ///////////////////////////////////////////////////////////*/
/* From Uiverse.io by elijahgummer ///////////////////////////////////////////////////////////*/ 
.button-with-icon {
margin: 10px;
overflow: hidden;
display: inline-flex;
align-items: center;
justify-content: center;
border: 1px solid #0f988e;
font-family: "Istok Web", sans-serif;
letter-spacing: 1px;
padding: 0 12px;
text-align: center;
width: 120px;
height: 40px;
font-size: 12px;
text-transform: uppercase;
font-weight: normal;
border-radius: 3px;
outline: none;
user-select: none;
cursor: pointer;
transform: translateY(0px);
position: relative;
box-shadow:
    inset 0 30px 30px -15px rgba(255, 255, 255, 0.1),
    inset 0 0 0 1px rgba(255, 255, 255, 0.3),
    inset 0 1px 20px rgba(0, 0, 0, 0),
    0 3px 0 #0f988e,
    0 3px 2px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.1);
background: #15ccbe;
color: white;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
transition: 150ms all ease-in-out;
}

.button-with-icon .icon {
margin-right: 8px;
width: 18px;
height: 18px;
transition: all 0.5s ease-in-out;
}

.button-with-icon:active {
transform: translateY(3px);
box-shadow:
    inset 0 16px 2px -15px rgba(0, 0, 0, 0),
    inset 0 0 0 1px rgba(255, 255, 255, 0.15),
    inset 0 1px 20px rgba(0, 0, 0, 0.1),
    0 0 0 #0f988e,
    0 0 0 2px rgba(255, 255, 255, 0.5),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(0, 0, 0, 0);
}

.button-with-icon:hover .text {
transform: translateX(80px);
}
.button-with-icon:hover .icon {
transform: translate(30px);
}
.text {
transition: all 0.5s ease-in-out;
}
/* BOTON DE ACCIONES ///////////////////////////////////////////////////////////*/
.mecanicasGame{
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.Big-box{
    display: flex;
    justify-content: space-between;
}   
#mensaje5{
    border: solid 2px black;
    overflow-y: auto;
    height: 200px;
    width: 400px;
}
#confirmGame{
    width: 100%;
    height: 100%;
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* CARD 1///////////////////////////////////////////////////////////*/
.menuSeleccion{
    display: flex; 
    justify-content: center;
    margin-top: 50px;
}    
.flip-card {
    margin-top: -100px;
    background-color: transparent;
    width: 250px;
    height: 150px;
    perspective: 1000px;
    font-family: sans-serif;
}
.title {
font-size: 1.5em;
font-weight: 900;
text-align: center;
margin: 0;
}

.flip-card-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
position: absolute;
display: flex;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

.flip-card-back {
transform: rotateY(180deg);
}
/* CARD 1///////////////////////////////////////////////////////////*/
/* CARD 2///////////////////////////////////////////////////////////*/
.flip-card2{
    background-color: transparent;
    width: 350px;
    height: 150px;
    perspective: 1000px;
    font-family: sans-serif;
    margin: 20px;
}

.title2 {
font-size: 1.5em;
font-weight: 900;
text-align: center;
margin: 0;
}

.flip-card-inner2 {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;
}

.flip-card2:hover .flip-card-inner2 {
transform: rotateY(180deg);
}

.flip-card-front2, .flip-card-back2 {
box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
position: absolute;
display: flex;
flex-direction: column;
justify-content: center;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
border-radius: 1rem;
}

.flip-card-front2 {
background: linear-gradient(120deg, rgb(235, 72, 67) 60%, rgb(216, 116, 116) 88%,
    rgb(255, 188, 188) 40%, rgba(78, 23, 23, 0.603) 48%);
color: rgb(85, 19, 19);
}

.flip-card-back2 {
background: linear-gradient(120deg, rgb(68, 4, 4) 30%, rgb(95, 23, 23) 88%,
    rgb(26, 2, 2) 40%, rgb(255, 160, 160) 78%);
color: white;
transform: rotateY(180deg);
}
/* CARD 2///////////////////////////////////////////////////////////*/
/* BURBUJA EN LAS IMAGENES ///////////////////////////////////////////////////////////*/
.contenedor {
    position: relative;
    display: inline-block;
}
.imagen {
    display: block;
    height: auto;
}
.burbuja {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 110%; /* Ajusta esta posición según sea necesario */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}
.contenedor:hover .burbuja {
    visibility: visible;
    opacity: 1;
}
.burbuja::after {
    content: "";
    position: absolute;
    top: 100%; /* Ajusta esta posición según sea necesario */
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
/* BURBUJA EN LAS IMAGENES ///////////////////////////////////////////////////////////*/
.armas{
    border-radius: 20px;
    border: solid 1px black;
}
.armas:hover{
    transform: scale(1.2) translateX(8px);
    transition: all 0.3s;
}

/* Boton A ///////////////////////////////////////////////////////////*/
.buttonA{
    width: 80px;
    height: 50px;
    margin: 20px;
    --color: #3bdbe0;
    padding: 0.8em 1.7em;
    background-color: rgba(46, 158, 162, 0.5);
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 18px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
}
.buttonA::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}
.buttonA::before {
    top: -1em;
    left: -1em;
}

.buttonA::after {
left: calc(100% + 1em);
top: calc(100% + 1em);
}

.buttonA:hover::before, .button:hover::after {
height: 410px;
width: 410px;
}

.buttonA:hover {
color: rgb(10, 25, 30);
}

.buttonA:active {
filter: brightness(.8);
}
/* BOYON A ///////////////////////////////////////////////////////////*/
/* Boton No ///////////////////////////////////////////////////////////*/
.buttonB{
    width: 80px;
    height: 50px;
    margin: 20px;
    --color: #e91717;
    padding: 0.8em 1.7em;
    background-color: rgba(97, 7, 7, 0.5);
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 18px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
}
.buttonB::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}
.buttonB::before {
    top: -1em;
    left: -1em;
}

.button::after {
left: calc(100% + 1em);
top: calc(100% + 1em);
}

.buttonB:hover::before, .button:hover::after {
height: 410px;
width: 410px;
}

.buttonB:hover {
color: rgb(10, 25, 30);
}

.buttonB:active {
filter: brightness(.8);
}
/* BOTON B ///////////////////////////////////////////////////////////*/
/* Card para ingresar tu nombre ///////////////////////////////////////////////////////////*/
#form__group {
    position: relative;
    padding: 20px;
    width: 100%;
    max-width: 180px;
    margin-top: 200px;
}
.from_input{
    display: flex; 
    justify-content: center; 
    padding-top: 20px; 
    background-color: #101219; 
    width: 25%; 
    height: 40px; 
    border-radius: 20px;
}
.form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    outline: 0;
    font-size: 17px;
    color: #fff;
    padding: 5px;
    background: transparent;
    transition: border-color 0.2s;
}
.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 320px;
    margin-left: 10px;
}
.form__label {
    position: absolute;
    top: 300px;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
}
.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #116399, #38caef);
    border-image-slice: 1;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 300px;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #efd738;
    font-weight: 700;
}
  /* reinicia el input ///////////////////////////////////////////////////////////*/
.form__field:required, .form__field:invalid {
    box-shadow: none;
}
  /* Card para ingresar tu nombre ///////////////////////////////////////////////////////////*/
  /* BOTON DE GUARDAR ///////////////////////////////////////////////////////////*/
.button-icon {
display: flex;
width: fit-content;
height: fit-content;
cursor: pointer;
}
.cube {
transition: all 0.4s;
transform-style: preserve-3d;
width: 200px;
height: 20px;
}
.button-icon:hover .cube {
transform: rotateX(90deg);
}
.side {
position: absolute;
height: 47px;
width: 200px;
display: flex;
font-size: 0.8em;
justify-content: center;
align-items: center;
text-transform: uppercase;
letter-spacing: 0.5px;
font-weight: bold;
}
.top {
background: #d4c05b;
color: #fff;
transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}
.top:hover{
    cursor: pointer;
}
.front {
background: #222229;
color: #fff;
transform: translate3d(0, 0, 1em);
}
  /* BOTON DE GUARDAR ///////////////////////////////////////////////////////////*/
  /* CARD COLORS ///////////////////////////////////////////////////////////*/
.cardColor{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: #222229 solid 5px;
}
.cardColor:hover{
    scale: 1.3;
    transition: .5s;
}
  /* CARD COLORS ///////////////////////////////////////////////////////////*/
.personajes{
    display: flex; justify-content: center;
}
.consola{
    margin:0 5px; 
    background-color: 
    white;
}

/* RESOLUCCION 720 X 1024 ///////////////////////////////////////////////////////////*/
@media (max-width: 720px){
    body{
    width: 100%;
    }
    .form__field,.form__label {
    margin-left: 20px;
}
.form__field {
    width: 80%;
    margin-bottom: 20px;
}
.form__field:focus ~ .form__label {
    top: 270px;
}
.menuSeleccion{
    flex-direction: column;
    align-items: center;
}
.Big-box{
    flex-direction: column;
    align-items: center;
}
.Game{
    margin: 10px;
}
.personajes{
    flex-wrap: wrap;
    justify-content: center;
}
#mensaje5{
    width: 100%;
}
.consola{
    margin:10px; 
    order: 1;
}
.personajeJugador{
    order: 2;
}
.personajePc{
    order: 3;
}
}
/* RESOLUCCION 720 X 1024 ///////////////////////////////////////////////////////////*/
/* RESOLUCCION 600 X 1024 ///////////////////////////////////////////////////////////*/
@media (max-width: 600px){
    .from_input{
        width: 40%;
    }
    .content-2{
        flex-wrap: wrap;
        justify-content: center;
    }
    .box-1{
        order: 1;
    }
    .box-2{
        order: 2;
    }
    .box-3{
        order: 3;
    }
}
/* RESOLUCCION 600 X 1024 ///////////////////////////////////////////////////////////*/